<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bitcamp</title>
</head>
<body>
<h1 style="text-align: center; margin-top:70px;">게시글 상세 정보</h1>
<form action='update' method="post" enctype="multipart/form-data">
<table border='1' style="margin: 0 auto;">
  <tr>
    <th>번호</th>
    <td><input name='ctstNo' type='number' 
        value='1' 
        data-th-value="${contest.ctstNo}"
        readonly></td>
  </tr>
  <tr>
    <th>기관명</th>
    <td data-th-text="${contest.org}">기관명
      <select name="orgNo">
        <option value="1">대기업</option>
        <option value="2">공공기관</option>
        <option value="3">자영업자</option>
      </select>
    </td>
  </tr>
  <tr>
    <th>주관</th>
    <td><input name='org' type='text' size='60' value='주관' data-th-value="${contest.org}"></td>
  </tr>
  <tr>
    <th>공모전분야</th>
    <td>
        <select name="ctgNo" data-th-value="${contest.contCategory.categoryName}" selected>
          <option value="1">기획/아이디어</option>
          <option value="2">광고/마케팅</option>
          <option value="3">사진/영상/UCC</option>
          <option value="4">디자인/순수미술/공예</option>
          <option value="5">네이밍/슬로건</option>
          <option value="6">캐릭터/만화/게임</option>
          <option value="7">건축/건설/인테리어</option>
          <option value="8">과학/공학</option>
          <option value="9">예체능/패션</option>
          <option value="10">전시/페스티벌</option>
          <option value="11">문학/시나리오</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>제목</th>
      <td><input name='title' type='text' size='60' value="제목"  data-th-value="${contest.title}"></td>
    </tr>
    <tr>  
      <th>공모전설명</th>
      <td><textarea name='subCont' rows='6' cols='60' data-th-text="${contest.subCont}"></textarea></td>
     <tr> 
    <tr>
      <th>접수방법</th>
      <td><input name='appl' type='text' size='60' value="이메일" data-th-value="${contest.appl}"></td>
    </tr>
    <tr>  
      <th>참가자격</th>
      <td><input name='qual' type='text' value="대학생/일반인/초등학생/중학생/고등학생"  data-th-value="${contest.qual}"></td>
    </tr>
    <tr>
      <th>시작일시</th>
      <td><input name='sDate' type='date' value="시작일시" data-th-value="${contest.sDate}"></td>
    </tr> 
    <tr>
      <th>종료일시</th>
      <td><input name='eDate' type='date' data-th-value="${contest.eDate}"></td>
    </tr>
    <tr>  
      <th>상금</th>
      <td><input name='reward' type='text' size='60' data-th-value="${contest.reward}"></td>
    </tr> 
    <tr>
      <th>홈페이지</th>
      <td><input name='page' type='text' size='60' data-th-value="${contest.vw_cnt}"></td>
    </tr> 
    <tr> 
      <th>팀전여부</th>
      <td data-th-text="${contest.team}">
        <input type="radio" name="team" value="0" checked>개인전
        <input type="radio" name="team" value="1" >팀전
      </td>
    </tr>
      <!-- <tr> -->
      <!-- <th>첨부파일</th> -->
      <!-- <td><input name='files' type="file" multiple data-th-text="${contest.viewCount}">첨부파일</td> -->
     <!-- </tr> -->
     <tr>
      <th>공모전상세설명</th>
      <td><textarea name='cont' rows='10' cols='60' data-th-text="${contest.cont}"></textarea></td>
    </tr>
</table>
<p style="text-align: center;">
  <button type='submit'>변경</button>
  <a href='delete?ctstNo=1'
     data-th-href="@{delete(ctstNo=${contest.ctstNo})}">삭제</a>
  <a href='list'>목록</a>
</p>
</form>
</body>
</html>